/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

:root {
  /* Variável CSS para controlar o nível de opacidade (0.0 a 1.0) */
  --editor-opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  background: transparent;
  width: 100vw;
  height: 100vh; 
  box-sizing: border-box; 
  overflow: hidden;  
} 

#root {  
  width: calc(100% - 8px);    
  height: calc(100% - 8px);
  margin: 4px;
  border-radius: 12px;
  overflow: hidden;  
  /* O canal Alfa é controlado pela variável CSS */
  background: rgba(30, 30, 30, var(--editor-opacity)); 
  color: #ffffff;
  font-family: sans-serif;  
  display: flex;
  flex-direction: column;  
  transition: background 0.05s ease; /* Transição suave ao mudar a opacidade */
}	

.title-bar {  
  width: 100%;
  height: 40px;  
  box-sizing: border-box;
  /*background-color: rgba(20, 20, 20, 1);*/
  background-color: rgba(66, 66, 66, 0.9);
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: space-between;    
}

.menu-container {
  padding: 0 5px;
  display: flex;
  align-items: center;  
  gap: 10px;   
  -webkit-app-region: no-drag; 
}

.filename-display-container {
  -webkit-app-region: no-drag;
}


/* Área de controles (não arrastável para permitir cliques no slider) */
.controls { 
  padding-right: 45px; 
  font-size: 10px;
  display: flex;
  align-items: center;  
  gap: 10px;   
  -webkit-app-region: no-drag;  
}

.language-display {
  font-size: 10px;
}

.status-bar {
  width: 100%;
  height: 28px;
  padding: 0 45px;
  box-sizing: border-box;
  background-color: rgba(60, 60, 60, 0.9);
  display: flex;
  align-items: center;
  justify-content: space-between;  
  -webkit-app-region: no-drag;
}

.editor-container {  
  width: 100%;
  height: 100%;  
  box-sizing: border-box; 
  overflow: hidden;  
  /*-webkit-app-region: no-drag;*/
}

.ace_editor {
  background: transparent !important;  
  margin: 0;   
  -webkit-app-region: no-drag;
  /*border: solid 1px white;*/
}

/* Remove as bordas ou fundos padrões das barras do Ace */
.ace_scrollbar {
    background: transparent !important;
    opacity: 0.5 !important;
    transition: opacity 0.4s ease-in-out !important; 
}

.ace_scrollbar:hover {
    opacity: 1 !important;
}

/* Estiliza a barra de rolagem vertical interna */
.ace_scrollbar-v {
    width: 12px !important;
}

/* Estiliza a barra de rolagem horizontal interna */
.ace_scrollbar-h {
    height: 12px !important;
}

/* Estiliza o "polegar" (ponteiro/cursor) da barra usando WebKit se necessário. */
.ace_scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

.ace_scrollbar::-webkit-scrollbar-track {
    background: transparent !important;
}

.ace_scrollbar::-webkit-scrollbar-thumb {
    background: #52525b !important;
    border-radius: 10px;    
}

.ace_scrollbar::-webkit-scrollbar-thumb:hover {  
  background: #71717a !important;    
}

.ace-twilight .ace_gutter {
    background: transparent !important;
}

/* Elementos filhos que precisam receber cliques normalmente */
.titlebar button,
.titlebar input,
.titlebar select,
.titlebar a,
.titlebar .clickable-icon {
-webkit-app-region: no-drag;
}

.swal-title {
  font-family: Arial, Helvetica, sans-serif;    
}

.swal-link, .swal-link:visited, .swal-link:hover, .swal-link:active {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: inherit;  
}

/* Bordas de Resize */
.resizer {
  position: absolute;
  z-index: 9999;
  -webkit-app-region: no-drag;
}

#resizer-top {
  top: 0;
  left: 0;
  width: 100%;
  height: 6px;
  cursor: n-resize;
}

#resizer-left {
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  cursor: w-resize;
}

#resizer-top_left {
  top: 0;
  left: 0;
  width: 12px;
  height: 12px;
  cursor: nw-resize;   
}

#resizer-right {
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  cursor: e-resize;    
}

#resizer-bottom {
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  cursor: s-resize;   
}

#resizer-bottom_right {
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  cursor: se-resize;   
}
