/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

:root {
  /* Variável CSS para controlar o nível de opacidade (0.0 a 1.0) */
  --editor-opacity: 0.7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  width: 100%;
  height: 100%; 
  box-sizing: border-box;   
} 

#root {  
  width: 100%;  
  overflow: hidden;  
  height: 100dvh;  
  /* O canal Alfa é controlado pela variável CSS */
  background: rgba(30, 30, 30, var(--editor-opacity)); 
  color: #ffffff;
  font-family: sans-serif;  
  display: flex;
  flex-direction: column;  
  transition: background 0.05s ease; /* Transição suave ao mudar a opacidade */
}	

.title-bar {  
  width: 100%;
  height: 40px;
  /*background-color: rgba(20, 20, 20, 1);*/
  background-color: rgba(66, 66, 66, 0.9);
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 45px;  
}

/* Área de controles (não arrastável para permitir cliques no slider) */
.controls {
  -webkit-app-region: no-drag;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px; 
}

.editor-container {  
  width: 100%;
  height: 100%;  
  box-sizing: border-box;   
  /*-webkit-app-region: no-drag;*/
}

.ace_editor {
  background: transparent !important;  
  margin: 0;   
  /*border: solid 1px white;*/
}

.ace-twilight .ace_gutter {
    background: transparent !important;
}

/* Elementos filhos que precisam receber cliques normalmente */
.titlebar button,
.titlebar input,
.titlebar select,
.titlebar a,
.titlebar .clickable-icon {
-webkit-app-region: no-drag;
}
